.content{
height: 100%;
    max-height: 100%;
        position: relative;
    float: right;
    width: calc(100% - 260px);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  
  background-color:#5D5D5D;
font-family: 'Noto Sans KR', sans-serif !important;
}
    


.con-pser,.div_createPdf,.contract_title{
	   background-color:#5D5D5D;
}


.contract_title{
	text-align:center;
	 font-family: 'Noto Sans KR', sans-serif !important;
	     font-weight:800 !important;
	     color:white;
}

.div_createPdf
{
	text-align:center;
	height:2150px;
}

.box{
	width:1576px;
margin:auto;
	text-align:left;

	padding:0 270px 0 270px;
	 font-family: 'Noto Sans KR', sans-serif !important;
}

.boxcover{
	width:100%;
	position: relative;
	bottom:280px;
}

.box-p{
	width:100%;
		background-color:white;
}

.hh{
	margin-left:80px;
	font-size:24px;
	font-weight:800;
}

.t3{
	margin-left:120px;
}

.tex2,.tex6,.tex10{
	border-radius: 4px;
    
    line-height: 20px;

    height: 25px;
}

.tex2{
	width:150px;
}

.tex6{
	width:250px;
	
}

.tex10{
	width:350px;
}

.card{
	border:0 !important;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
}

.formCon{
	background-color:#2e3949 !important;
}

.dropdown-menu{
	  display: none; 
     padding: 0.3125rem 0; 
     border: 0; 
    opacity: 1 !important;
     transform: none !important;
    transform-origin: 0 0;
     will-change: transform, opacity;  
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.bootstrap-datetimepicker-widget{
	width:300px !important;
}

.where-modal{
	margin:0 auto;
	
}

.pdf-contract{
	width:1572px !important;
	position: relative;
}

.hiddenbtn{
	    display: none;
}

.canvas_btn{
	margin:0 0 0 7px !important;
	
}


.subbt2{
	width: 300px;
	height: 50px !important;
	   margin: 170px 0 30px 39%;
	    background-color:#2e3949 !important;
	    
	    	background: #1AAB8A;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 0.8em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}
.subbtn2{
		width: 300px;
	height: 50px !important;
	   margin: 30px 0 30px 39%;
	    background-color:#2e3949 !important;
	    
	    	background: #1AAB8A;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 0.8em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}