<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.CareerMapper">

    <select id="listAll" resultType="com.ateam.proalba.domain.CareerVO">
        <![CDATA[
        SELECT
            join_date,
            work_place_name,
            end_date,
            work_type
        FROM career
        ]]>
    </select>
    
    <select id="listPaging" resultMap="CareerVOResultMap">
    	<![CDATA[
    	SELECT
            join_date,
            work_place_name,
            end_date,
            work_type
    	FROM career
    	WHERE join_date != null
    	ORDER BY join_date DESC
    	LIMIT #{page}, 10
    	]]>
	</select>
	
	<select id="listCriteria" resultMap="CareerVOResultMap">
	    <![CDATA[
	    SELECT
            join_date,
            work_place_name,
            end_date,
            work_type
    	FROM (SELECT rownum rn, join_date, work_place_name, end_date, work_type from career order by join_date desc)
    	WHERE rn >= #{pageStart} AND rn <= (#{pageStart}+#{perPageNum})
    	]]>
	</select>

    <resultMap id="CareerVOResultMap" type="com.ateam.proalba.domain.CareerVO">
        <id property="join_date" column="join_date" />
        <result property="work_palce_name" column="work_palce_name" />
        <result property="end_date" column="end_date" />
        <result property="work_type" column="work_tyep" />
    </resultMap>
    
    <select id="countCareers" resultType="int">
    	<![CDATA[
    	SELECT
    		COUNT(rownum)
    	FROM career
    	WHERE rownum > 0
    	]]>
	</select>

</mapper>