<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.EmployeeMapper">

	<insert id="insert_employee">
		INSERT INTO employee(em_code, m_code, c_code, hourly_wage) VALUES (#{em_code}, #{m_code}, #{c_code}, #{hourly_wage})
	</insert>
	
	<update id="update_finger_id">
		UPDATE employee SET finger_id = #{finger_id} WHERE em_code = #{em_code}
	</update>
	
	<update id="remove_finger_id">
		UPDATE employee SET finger_id = 0 WHERE em_code = #{em_code}
	</update>
	
</mapper>