<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.MemberMapper">


	<select id="getList" resultType="com.ateam.proalba.domain.MemberVO">
		select * from member
	</select>

	<insert id="pregister" >
		<![CDATA[
		insert into member( m_code, id, password, phone, name, email, birthday, sex, b_number )
		values ( #{m_code}, #{id}, #{password}, #{phone}, #{name}, #{email}, #{birthday}, #{sex}, #{b_number} )
		]]>
	</insert>
	 
	<insert id="cregister" >
		<![CDATA[
		insert into member( m_code, id, password, phone, b_number, email, birthday, sex, name )
		values ( #{m_code}, #{id}, #{password}, #{phone}, #{b_number}, #{email}, #{birthday}, #{sex}, #{name} )
		]]>
	</insert>
	
	<update id="pregisterModify">
		<![CDATA[
		update member set password=#{password}, phone=#{phone}, email=#{email}, birthday =#{birthday}, sex=#{sex}, name=#{name}
		where id = #{id}
		]]>
	</update>

	<select id="login" resultType="com.ateam.proalba.domain.MemberVO">
		<![CDATA[
		SELECT * FROM member
		WHERE password = '${password}' and id = #{id}
  	  	]]>
	</select>


	<select id="idcheck" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM member
      WHERE
          id = #{id}
	</select>
	

</mapper>