<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.MemberMapper">


	<select id="getList" resultType="com.ateam.proalba.domain.MemberVO">
		select * from member
		where id = #{id}
	</select>

	<insert id="pregister" >
		<![CDATA[
		insert into member( m_code, id, password, phone, name, email, birthday, sex, b_number )
		values ( #{m_code}, #{id}, #{password}, #{phone}, #{name}, #{email}, #{birthday}, #{sex}, #{b_number} )
		]]>
	</insert>
	 
	<insert id="cregister" >
		<![CDATA[
		insert into member( m_code, id, password, phone, b_number, email, birthday, work_place_name, sex, name, address, introduction, job_type )
		values ( #{m_code}, #{id}, #{password}, #{phone}, #{b_number}, #{email}, '',#{work_place_name}, '', #{name}, #{address}, #{introduction}, #{job_type} )
		]]>
	</insert>
	
	<update id="pregisterModify">
		<![CDATA[
		update member set password=#{password}, phone=#{phone}, email=#{email}, birthday =#{birthday}, sex=#{sex}, name=#{name}
		where id = #{id}
		]]>
	</update>
	
	<update id="cregisterModify">
		<![CDATA[
		update member 
		set password=#{password}, b_number=#{b_number}, phone=#{phone}, address=#{address}, introduction=#{introduction}, job_type=#{job_type},
			work_place_name=#{work_place_name}, email=#{email}, name=#{name}
		where id = #{id}
		]]>
	</update>

	<select id="login" resultType="com.ateam.proalba.domain.MemberVO">
		<![CDATA[
		SELECT * FROM member
		WHERE  id = #{id} and password = #{password}
  	  	]]>
	</select>


	<select id="idcheck" parameterType="String" resultType="int">
      SELECT COUNT(*) FROM member
      WHERE id = #{id}
	</select>
	
	<select id="apiIdcheck" resultType="com.ateam.proalba.domain.MemberVO">
		SELECT * FROM member
		WHERE email = #{email}
	</select>
	
	<select id="checkM" resultType="String">
		SELECT m_code
		FROM member
		WHERE id = #{id}
		AND is_withdraw is null
	</select>

	<select id="gbnum" resultType="String">
		SELECT b_number
		FROM member
		WHERE id = #{id}
	</select>

	<select id="getArticles" resultType="String">
		SELECT articles 
		FROM choiyak
	</select>

	<select id="getPdata" resultType="String">
		SELECT pdata 
		FROM choiyak
	</select>
	
	<update id="modifyPdata">
		UPDATE choiyak 
		SET pdata = #{pdata}
	</update>
	<update id="modifyArticle">
		UPDATE choiyak 
		SET articles = #{articles}
	</update>
	
	<select id="gethourWage" resultType="String">
		SELECT CHOI
		FROM choiyak
	</select>
	
		<update id="hwModify">
		UPDATE choiyak 
		SET choi = #{hourWage}
	</update>
	
	<select id="ceoCount" resultType="String">
		SELECT count(*)
		FROM member
		WHERE m_code like 'c%'
		and is_withdraw is null
	</select>
	<select id="perCount" resultType="String">
		SELECT count(*)
		FROM member
		WHERE m_code like 'p%'
		and is_withdraw is null
	</select>
	<select id="contCount" resultType="String">
		SELECT count(*)
		FROM contract
	</select>
	<update id="withdraw">
		UPDATE member
		SET is_withdraw = 'y'
		WHERE m_code = #{m_code}
	</update>
	
	<select id="is_withdraw" resultType="String">
		SELECT is_withdraw
		FROM member
		WHERE m_code = #{mcode}
	</select>
</mapper>