<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.MobileAttendanceMapper">

	<select id="mobileattendance" resultType="com.ateam.proalba.domain.MobileAttendanceVO">
	
			select 
			substr(sa_code,0,INSTR(sa_code,'/')-1)sa_c, substr(work_start_time,INSTR(work_start_time,' ')+1) sa_start, substr(work_start_time,0,8) sa_date, work_end_time
			from work_record
			where substr(sa_code,0,INSTR(sa_code,'/')-1)=#{id}
			 
	</select>
	
	
	
</mapper>