<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.MobileAttendanceMapper">

	<select id="mobileattendance" resultType="com.ateam.proalba.domain.mobile.MobileAttendanceVO">
			SELECT	w_code, SUBSTR(sa_code,0,INSTR(sa_code,'/')-1)sa_c, SUBSTR(work_start_time,INSTR(work_start_time,' ')+1) sa_start,
					SUBSTR(work_start_time,0,8) sa_date, SUBSTR(work_end_time,INSTR(work_end_time,' ')+1) sa_end, TRUNC(WORKING_HOURS/60) WORKING_HOURS 
			FROM	work_record
			WHERE	SUBSTR(sa_code,0,INSTR(sa_code,'/')-1)=#{id}
	</select>
	

	<select id="cmobileattendance" resultType="com.ateam.proalba.domain.mobile.MobileAttendanceVO" parameterType="hashmap">
			SELECT	w_code, SUBSTR(w.sa_code,0,INSTR(w.sa_code,'/')-1)sa_c, SUBSTR(work_start_time,INSTR(work_start_time,' ')+1) sa_start,
					SUBSTR(work_start_time,0,8) sa_date, SUBSTR(work_end_time,INSTR(work_end_time,' ')+1) sa_end, w.sa_code
			FROM	work_record w, salary s
			WHERE	w.sa_code = s.sa_code AND
					SUBSTR(w.sa_code,0,INSTR(w.sa_code,'/')-1)=#{id} AND
					SUBSTR(em_code,0,INSTR(em_code,'/')-1)=#{cid}
	</select>
	
	<insert id="mobileWorkRecordInsert" parameterType="hashmap">
		INSERT INTO work_record(w_code, sa_code, work_start_time, work_end_time, working_hours)
		VALUES (#{w_code}, #{sa_code}, #{work_start_time}, #{work_end_time}, #{working_hours})
	</insert>
	
	<insert id="mobileStartWork" parameterType="hashmap">
		INSERT INTO work_record(w_code, sa_code, work_start_time)
		VALUES (#{w_code}, #{sa_code}, #{work_start_time})
	</insert>
	
	<update id="mobileEndWork" parameterType="hashmap">
		UPDATE work_record SET work_end_time = #{work_end_time}, working_hours = (#{work_end_time}-work_start_time) WHERE w_code = #{w_code}
	</update>
	
	<update id="mobileWorkRecordUpdate" parameterType="hashmap">
		UPDATE work_record SET
    		work_start_time = substr(work_start_time, 0, INSTR(work_start_time, ' '))||#{work_start_time}, 
    		work_end_time = substr(work_end_time, 0, INSTR(work_end_time, ' '))||#{work_end_time}
		WHERE w_code = #{w_code}
	</update>
	
	<update id="mobileWorkRecordDelete">
		DELETE work_record
		WHERE w_code = #{w_code}
	</update>
	
	<select id="mobileFoundWorkPlace" resultType="com.ateam.proalba.domain.mobile.MobileWorkPlaceVO">
		select rownum rn, c.work_place_name work_place_name, s.sa_code sa_code
		from contract c,employee e,salary s
		where c.p_id = #{p_id} AND c.c_code = e.c_code AND e.em_code =s.em_code AND rownum = 1
		ORDER BY REPLACE(SUBSTR(s.sa_code,INSTR(s.sa_code,'/')+1),'/','')
	</select>
	
	<select id="mobileFoundWorkRecord" resultType="com.ateam.proalba.domain.mobile.MobileWorkRecordVO">
		select SUBSTR(w_code,INSTR(w_code,'/')+1,INSTR(w_code,'/')-1) as w_code,sa_c, sa_start, sa_end, working_hours, work_place_name 
		from workrecord_view v
		where v.sa_c=#{id}
		order by w_code asc
	</select>
	<select id="mobileCFoundWorkRecord" resultType="com.ateam.proalba.domain.mobile.MobileCWorkRecordVO">
		select SUBSTR(w_code,INSTR(w_code,'/')+1,INSTR(w_code,'/')-1) as w_code,sa_c, sa_start, sa_end, working_hours, work_place_name 
		from workrecord_view v
		where v.sa_c=#{p_id} AND v.work_place_name = (select m.work_place_name from member m where m.id=#{id})
		order by w_code asc
		
	</select>
</mapper>