<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.MobileAttendanceMapper">

	<select id="mobileattendance" resultType="com.ateam.proalba.domain.mobile.MobileAttendanceVO">
	
			select 
			substr(sa_code,0,INSTR(sa_code,'/')-1)sa_c, substr(work_start_time,INSTR(work_start_time,' ')+1) sa_start, substr(work_start_time,0,8) sa_date, work_end_time
			from work_record

			where substr(sa_code,0,INSTR(sa_code,'/')-1)=#{id}
			 

						 

	</select>
	
	<insert id="mobileStartWork">
		INSERT INTO work_record(w_code, sa_code, work_start_time) VALUES (#{w_code}, #{sa_code}, #{work_start_time})
	</insert>
	
	<update id="mobileEndWork">
		UPDATE work_record SET work_end_time = #{work_end_time}, working_hours = (#{work_end_time}-work_start_time) WHERE w_code = #{w_code}
	</update>
	
	<select id="mobileFoundWorkPlace" resultType="com.ateam.proalba.domain.mobile.MobileWorkPlaceVO">
		select rownum rn, c.work_place_name work_place_name, s.sa_code sa_code
		from contract c,employee e,salary s
		where c.p_id = #{p_id} AND c.c_code = e.c_code AND e.em_code =s.em_code AND rownum = 1
		ORDER BY REPLACE(SUBSTR(s.sa_code,INSTR(s.sa_code,'/')+1),'/','')
	</select>
	
	<select id="mobileFoundWorkRecord" resultType="com.ateam.proalba.domain.mobile.MobileWorkRecordVO">
		SELECT w_code
		FROM work_record
		WHERE sa_code LIKE SUBSTR(#{sa_code},0,INSTR(#{sa_code},'/'))||'%'||SUBSTR(#{sa_code},INSTR(#{sa_code},'/','-1'))
		ORDER BY work_start_time
	</select>
</mapper>