<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ateam.proalba.mapper.ResumeMapper">
	<insert id="write_resume" parameterType="hashmap">
		INSERT ALL
			INTO resume VALUES(#{r_code} , #{m_code}, #{title}, #{content}, #{address}, #{education}, #{license})
			INTO resume_file VALUES(#{r_code}, #{file_name})
			SELECT *
    		FROM dual
	</insert>
	
	<select id="list_resume" resultType="com.ateam.proalba.domain.ResumeVO">
		SELECT SUBSTR(r_code,INSTR(r_code,'/')+1, 10) r_date, m_code, title, content, address, r_code
		FROM resume
		WHERE m_code = 'p' || #{id}
	</select>
	
	<select id="view_resume" resultType="com.ateam.proalba.domain.ResumeVO">
        SELECT r.r_code, r.m_code, r.title, r.content, r.address, r.education, r.license, f.r_code, f.file_name,
        sum(w.late_status) as late_status, count(w.late_status)-sum(w.late_status) as c_late_status
		FROM resume r, resume_file f, work_record w
		WHERE r.r_code = f.r_code
		AND r.r_code = #{r_code}
        group by r.r_code, r.m_code, r.title, r.content, r.address, r.education, r.license, f.r_code, f.file_name
        
	</select>
	
	<select id="late_status" resultType="com.ateam.proalba.domain.ResumeVO">
		SELECT sum(w.late_status) as late_status, count(w.late_status)-sum(w.late_status) as c_late_status
		FROM resume r, work_record w, resume_file f
		WHERE r.r_code = #{r_code}
		AND substr(r.r_code,1,INSTR(r.r_code,'/')-1) = substr(w.sa_code,1,INSTR(w.sa_code,'/')-1)
        group by r.r_code, r.m_code, r.title, r.content, r.address, r.education, r.license, f.r_code, f.file_name
	</select>
	
	<delete id="delete_resume">
		DELETE FROM resume
		WHERE r_code = #{r_code}
	</delete>
	
	<update id="update_resume1">
		UPDATE resume
		SET title = #{title}, content = #{content}, address = #{address}, education = #{education}
		WHERE r_code = #{r_code}
	</update>
	
	<update id="update_resume2">	
		UPDATE resume_file
		SET file_name = #{file_name}
		WHERE r_code = #{r_code}
	</update>
	
	<insert id="apply_resume">
		INSERT INTO notice_apply VALUES(#{n_code}, #{r_code},#{n_code}||'+'||#{r_code})
	</insert>
	
	<select id="checkResume" resultType="com.ateam.proalba.domain.ResumeVO">
		SELECT SUBSTR(r.r_code,INSTR(r.r_code,'/')+1, 10) r_date, r.m_code, r.title, r.content, r.address, r.r_code, n.n_code
		FROM resume r, notice_apply n
		WHERE r.r_code = n.r_code
		AND n.n_code = #{n_code}
	</select>
	
	<select id="applyResumeList" resultType="com.ateam.proalba.domain.NoticeVO">
		SELECT n.title, n.n_code, na.r_code
		FROM notice_apply na, notice n
		WHERE na.n_code = n.n_code
		AND SUBSTR(na.r_code,0, INSTR(na.r_code, '/')-1) = #{id}
	</select>
</mapper>