<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="workManage">
	<select id="listAll" resultType="com.ateam.proalba.domain.WorkManageVO">
		SELECT em_code,m.m_code, e.c_code, id, phone, name, birthday, sex, email, start_period
		FROM employee e, member m, contract c
		WHERE e.m_code = m.m_code AND e.c_code = c.c_code AND
		em_code LIKE '%'||#{id}||'%'
	</select>
</mapper>