.title{
        height: 10%;
        border: 1px solid white;
        top:20px;
        color:#666666;
      }


      .title h1{
        margin-left:80px;
        margin-top:40px;
      }

      .box{
        position: relative;
        width:100%;
        height: 2300px;
        border: 1px solid black;
        top:10px;
      }

      .gg{
        margin:0px;
        margin-left:32%;
        position: relative;
        padding: 0px;
      }
      
      .hh{
        margin:0px;
        margin-left: 17%;
        position: relative;
      }

      .tex1{
        font-size:20px;
        height: 25px;
        position: relative;
        margin-left: 35%;
        width:55px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .tex2{
        font-size:20px;
        height: 25px;
        position: relative;
        width:40px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .tex3{
        font-size:20px;
        margin-left: 35%;
        width:500px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .tex4{
        font-size:20px;
        margin-left: 35%;
        width:40px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .t1{
        margin-left: 35%;
      }

      .t2{
        color:red;
      }

      .t3{

        margin-left: 20%;
      }

      .tex5{
        font-size:20px;
        height: 25px;
        position: relative;
        width:40px;
        border: 1px solid white;
        border-bottom: 1px solid red;
      }

      .tex6{
        font-size:20px;
        height: 25px;
        position: relative;
        width:100px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .tex7{
        font-size:20px;
        height: 25px;
        position: relative;
        margin-left: 43%;
        width:55px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .tex8{
        font-size:20px;
        height: 25px;
        width:180px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .tex9{
        font-size:20px;
        height: 25px;
        width:60px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .tex10{
        font-size:20px;
        height: 25px;
        width:450px;
        border: 1px solid white;
        border-bottom: 1px solid black;
      }

      .ra{
        position:relative;
        top:2px;
        font-size:50px;
        width:17px;
        height:16px;
      }

      .che{
        margin-left: 35%;
        width:18px;
        height:18px;
        position:relative;
        top:3px;
      }

      .che2{
        margin-left: 5%;
        width:18px;
        height:18px;
        position:relative;
        top:3px;
      }

      .sp1{
        margin-left: 35%;
      }

      hr{
        width:80%;
        border: 1px dashed;
        margin-left: 10%;
      }

      .sp2{
        margin-left: 21%;
      }
      
      .sp3{
      	margin-left: 22%;
      }

      .can1{
        margin-left: 600px;
      }

      .im{
        position: absolute;
        bottom: 625px;
        right: 260px;
      }

      .bt2{
        margin-left:1350px;
      }