


.title {
	height: 10%;
	top: 20px;
	color: #666666;
	text-align:center;
}



.title h3 {

	top: 40px;
}

.box {
	position: relative;
	width: 950px;
	height: 100%;
	border: 1px solid black;
	margin: 0 auto;
	background-color: white;
}

.gg {
	margin: 0px;
	margin-left: 80px;
	position: relative;
	padding: 0px;
	margin-bottom:20px;
	margin-top: 50px;
	font-family: 'Noto Sans KR', sans-serif !important;
	font-size:30px !important; 
}

.hh {
	margin: 0px;
	margin-left: 80px;
	position: relative;
	margin-top: -20px;
	margin-bottom: 15px;
}

.tex {
	font-size: 30px;
	height: 30px;
	position: relative;
	margin-left: 130px;
	width: 130px;
	border-bottom: 1px solid black;
}
.tex1 {
	font-size: 20px;
	height: 30px;
	position: relative;
	
	width: 130px;
	border-bottom: 1px solid black;
	
}

.tex2 {
	font-size: 20px;
	height: 10px;
	position: relative;
	width: 40px !important;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.tex3 {
	font-size: 20px;
	margin-left: 130px;
	width: 500px;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.tex4 {
	font-size: 20px;
	margin-left: 130px;
	width: 40px;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.t1 {
	margin-left: 130px;
	
}

.t2 {
	color: red;
}

.t3 {
	margin-left: 130px;
}

.tex5 {
	font-size: 20px;
	height: 25px;
	position: relative;
	width: 40px;
	border: 1px solid white;
	border-bottom: 1px solid red;
}

.tex6 {
	font-size: 20px;
	height: 25px;
	position: relative;
	width: 100px;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.tex7 {
	font-size: 20px;
	height: 25px;
	position: relative;
	margin-left: 360px;
	width: 100px;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.tex8 {
	font-size: 20px;
	height: 25px;
	width: 180px;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.tex9 {
	font-size: 20px;
	height: 25px;
	width: 60px;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.tex10 {
	font-size: 20px;
	height: 25px;
	width: 400px;
	border: 1px solid white;
	border-bottom: 1px solid black;
}

.ra {
	position: relative;
	top: -2px;
	font-size: 50px;
	width: 17px;
	height: 16px;
}

.che2 {
	margin-left: 130px !important;
	width: 18px;
	height: 18px;
	position: relative;
	top: -3px;
}

.t11{
	margin-left: 200px;
	
}

.sp1 {
	margin-left: 380px;
}

hr {
	width: 80%;
	border: 1px dashed;
	margin-left: 10%;
}

.sp2 {
	margin-left: 21%;
}

.sp3 {
	margin-left: 34%;
}

.bt2 {
	width: 170px;
	    margin: 150px 0 0 40%;
	    background-color:#2e3949 !important;
}

.div_sign {
	position: relative;
	top: 550px;
}

.input-append {
	display: inline-block;
	vertical-align: middle !important;
	margin-bottom: 0px !important;
}

.workdate_div {
	display: inline-block;
	vertical-align: middle !important;
	margin-left: 20%;
}

.timepiker_txt_title {
	margin-left: 12%;

}

.wcontract_btnline {
	display: block;
	margin-left: 600px;
}

.bt1, .bt2 {
	background: #1AAB8A;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 0.8em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.bt3 {
	display: inline;
	background: #1AAB8A;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 0.8em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	margin-left: 63.7%;
}

.bt4 {
	display: inline;
	background: #1AAB8A;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 0.8em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

button:hover {
	background: #fff;
	color: #1AAB8A;
}

button:before, button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

button:hover:before, button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

