body{
    font-family:'³ª´®¶ó¿îµå½ºÄù¾î';
    color: black;
    position: relative;
    padding:0;
    margin: 0;
}
.footer{
	 position: relative;
	background-color:#D5D5D5;
	top:610px;
	height:130px;
	width:100%;
	   margin: 0 auto;
    padding: 20px 0 22px 0;
}

.contents{
	padding-left:200px;
	padding-right:200px;
}