body{
    font-family:'�������彺����';
    color: black;
    position: relative;
    padding:0;
    margin: 0;
}
.footer{
	 position: relative;
	background-color:#D5D5D5;
	
	height:100px;
	width:100%;
	   margin: 0 auto;
    padding: 20px 0 22px 0;
}

.contents{
	padding-left:200px;
	padding-right:200px;
}