
.rogoimg{
	width: 250px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: -10px;
	margin-left: 200px;
}

.header p{
	float: right;
	vertical-align: center;
	margin-right: 40px;
	vertical-align: middle;
}