/* 전체 css */
.contents{
  text-align: center;
}

.main{
  width: 400px;
  height: 350px;
  margin: 15px;
  border: 2px solid #BDBDBD;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.title h2{
margin: 0 auto;
position: relative;
top: 18px;
}

a:link{
	color: black;
	text-decoration:none;
}

a:visited{
	color: black;
	text-decoration:none;
}

li{
	text-align: left;
}

/* 이 달의 알바 */
.maintop1_con{
  float: left;
  padding: 0 40px;
  width: 80%;
}


.maintop1 .title{
  height: 60px;
  margin-top: 0px;
  background-color: #E0ECF8;
  vertical-align: middle;
  margin-bottom: 30px;
}


/* 로그인 */
.maintop2{
  margin-left: 80px;
}

.maintop2 .title{
  height: 60px;
  margin-top: 0px;
  background-color: #E6E0F8;
  vertical-align: middle;
  margin-bottom: 30px;	
}

/* .login{
  position: relative;
} */

.i_text{
  margin: 15px;
  width: 250px;
  height: 30px;
}

.login #passwd{
  margin-bottom: 50px;
}

.login_btn{
  width: 200px;
  height: 40px;
  border: 1px solid #A9BCF5;
  border-radius: 7px;
  background-color: #CEE3F6;
  font-size: 15px;
}

.login_bot{
	margin-top:20px;
}

/* 알바 커뮤니티 */
.mainbot1_con{
  float: left;
  padding: 0 40px;
  width: 80%;
}


.mainbot1 .title{
  height: 60px;
  margin-top: 0px;
  background-color: #F5D0A9;
  vertical-align: middle;
  margin-bottom: 30px;
}


/* 최저시급 */
.mainbot2{
  margin-left: 80px;
}

.mainbot2 .title{
  height: 60px;
  margin-top: 0px;
  background-color: #F5ECCE;
  vertical-align: middle;
  margin-bottom: 40px;
}

.mainbot2_con #text1{
font-size: 35px;
font-weight: bold;
}

.mainbot2_con #text2{
  font-size: 45px;
  color: #FE642E;
  font-weight: bold;
}

.mainbot2_con #text3{
	text-align: right;
	font-size: 12px;
	margin-top: 20px;
	margin-right: 10px;
}

.mainbot2_con table{
	text-align: center;
	margin-top: 20px;
	width: 90%;
	height: 100px;
	position: relative;
	left: 20px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.mainbot2_con table th,.mainbot2_con table td{
	border-right: 1px dashed black;
}

.mainbot2_con table th:last-child, .mainbot2_con table td:last-child{
	border:none;
}

.mainbot2_con table td:last-child{
	text-align: right;
}

.conprocess{
	height:100px;
}

.content-p{
	
	font-family: 'Noto Sans KR', sans-serif !important;
}
 
.content-div{
	padding-top:20px;
}

.con2-icon{
	font-size:150px;
	
	
}

.con2-div-p{
	text-align:center;
	margin-bottom:60px;
}


.footer-icon{
	font-size:50px;
	margin-right:10px;
}
    
   
