html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f8f8f8 !important;
 /*  background: -webkit-linear-gradient(45deg, rgba(255, 0, 0, 0) 0%, rgba(66, 245, 189, 0.4) 50%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(45deg, rgba(255, 0, 0, 0) 0%, rgba(115, 227, 239, 0.4) 50%, rgba(255, 0, 0, 0) 100%); */
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay, .form-panel.one:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.indi, .com{
    display: inline-block;
    margin-bottom: 10%;
    position: relative;
  }

.com{
  margin-left: 5%;
}

.form {
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
}

.form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
}
.form-group:last-child {
  margin: 0;
}
.form-group label {
  display: block;
  margin: 0 0 10px;
  margin-right: 50px;
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.form-group input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 300px;
  border: 0;
  margin-left: 50px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
}
.form-group input:focus {
  color: rgba(0, 0, 0, 0.8);
}
.form-group button {
  outline: none;
  background: #78A9ED;
  width: 300px;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: inherit;
  /* text-transform: uppercase; */
  cursor: pointer;
  margin-top: 1px;
  margin-left: 50px;
  
}
.sps{
   color: rgba(0, 0, 0, 0.6);
   font-size: 12px;
   margin-left: 60px;
   font-weight: bold;
}
.btn-regist{
   color: rgba(0, 0, 0, 0.6);
   font-size: 12px;
   font-weight: bold;
}
.g-signin2{
   margin-top: 40px;
}

.form-panel {
  /* padding: 60px 100px 60px 100px; */
  box-sizing: border-box;
  height: 750px;
  background-color: #f8f8f8;
}
.form-panel.one:before {
  content: '';
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
}
.form-panel.one.hidden:before {
  display: block;
  opacity: 1;
  visibility: visible;
}

.form-header h1 {
  padding: 4px 0;
  color: #616161;
  font-size: 24px;
  font-weight: 700;
  /* text-transform: uppercase; */
}
a{
   color: #ffffff;
}
#my-signin2{
   margin-left: 75px;
}
.abcRioButtonBlue{
   background-color: skyblue !important;
   color: white !important;
}

.logo{
   margin-bottom: 30px;
   margin-top: 80px;
   margin-left: 43px;
   width: 300px;
   height: 130px;
}
.footer-copyright{
   margin-top: 160px;
   margin-left:110px;
}
.sp1{
   font-size:15px;
   font-weight: 500;
   color: rgba(0, 0, 0, 0.6);
}
hr{
   border: 0.5px solid #e1e1e1;
   width: 330px;
   margin-top: 15px;
   margin-bottom: 10px;
}