body{
    font-family:'NanumSquareRound', sans-serif !important;
	
   color:black;
    posiion: relative;
    padding:0;
    margin: 0;
}

.contents{
	padding-left:200px;
	padding-right:200px;
}

.menucontainer{
    width:100%;
    margin: 0 auto;
    padding: 0 0 0 50px; 

}




.nav{
     background-color:!important;
    font-weight:400;
    font-size: 13px;
/*     line-height:20px; */
    position: relative;
/*     padding: 15px 0 0px 0px; */
	display:block !important;

}

.nav .nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:focus{
    color: white;
    text-decoration: none;
    
}

.nav > li{
    display: inline-block;
    text-align:center;
    margin-left: 4px;
    font-size: 20px;
   /*  height: 80px; */
}

.nav > li > a {
    padding: 0 18px;
    display: block;
    height: 80px;
    line-height: 80px;
}

.nav > li:hover > a{
/*         background-color: black !important; */
}

/* .column > ul > li:hover{
  background-color: #fff;*/
} 

.nav > li:hover{
    background-color: #E0ECF8;
}

.nav > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 53px;
    background-color: #E0ECF8;
    width: 200px;
    text-align: left;
    margin-top: 30px;
    padding: 0px;
    z-index: 99px;
}

.nav > li:hover > ul{
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.nav li > ul li{
    font-size: 15px;
    position: relative;
    display: block;
    padding: 0 10px;
}

.nav > li > ul li:hover{
    background-color: #fff;
}

.nav ul li:hover > a{
    color: #000;
}

.nav > li > ul li ul li:hover{
    background-color :#fff;
}

.nav > li > ul li ul li ul {
	background-color: #fff;
}


.nav > li > .fulldrop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:80px;
	float:left;
	min-height: 100px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
 	padding-top: 20px;
	z-index: 99;
	overflow: hidden;
	 
}

.Asize{
	width: 1230px;
 	height: 230px;
}

.qnaSize{
	width: 200px !important;
    height: 190px !important;
}

.nav > li:hover > .fulldrop {
	background-color: black;
	/* border: 1px solid gray; */
	opacity: 0.7;
	visibility: visible;
	width: 690px;
	position: absolute;
	list-style: none;
	top:80px;
	float:left;  	
	min-height: 100px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
	z-index: 99;
	overflow: hidden;
/* 	margin-left: -1px; */
}

.nav ul li:hover:after {
	color: black;
}

.nav .column {
 	width: 200px;
   	height: 180px;
	float: left;
	color: white;
	margin: 20px 20px 0 0;
	padding-left: 20px;
  	padding-right: 10px;
  	border-right: 1px solid #C5C5C5;
}

.nav .column:first-child{
	
    margin-left: 10px; 

    padding-right: 40px;

}


.nav .column:last-child{
  border: 0px;
  width: 180px;
}
 
.nav .column ul {
	padding: 0;
	padding-left: 10px;
	margin: 0;
}

.nav .column ul li {
	padding: 0;
	list-style: none;
	font-size: 14px;
}

.nav .column h3 {
	font-size: 20px;
	padding-bottom: 14px;
	font-weight: 600;
	margin: 5px 0 5px 0;
	color: white;
}

.nav .column ul li a {
	display: block;
	padding: 0;
	text-align: left;
	color: black !important;
	padding-bottom: 10px;
}

.nav > li.dropdown > a:after {
	 content: " \f107";
	 font-family: FontAwesome;
	 color: #fff;
}

.nav ul li .dropdown:after {

  position: absolute;
  left: 170px;
  font-family: FontAwesome;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  margin-top: 2px;
}


/* 
.nav > li > .fulldrop2 {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:60px;
	left: 580px;
	background-color: #fff;
  	border: 1px solid gray;
	width: 220px;
 	height: 200px;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	margin-bottom: 20px;
	padding: 0;
 	padding-top: 20px;
	z-index: 99;
	overflow: hidden;
} */
/* 
.nav > li:hover .fulldrop2 {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
} */

.nav > li.dropdown2 > a:after {
	 content: " \f107";
	 font-family: FontAwesome;
	 color: #fff;
}

.nav ul li.dropdown2:after {

  position: absolute;
  left: 170px;
  font-family: FontAwesome;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  margin-top: 2px;
}


 
.manuli{
	color:white !important;
	text-align:left;

	
}
  
.collapse{
	overflow:visible !important;
	height: 80px;
}

.menuLink{
	/*  color:white !important; */ 
     text-decoration: none !important; 
     text-shadow: 0 0px 0 !important; 
}

th{
	text-align:center;
	font-weight:bold !important;
}
