body{
    font-family:'³ª´®¶ó¿îµå½ºÄù¾î';
    color: black;
    posiion: relative;
    padding:0;
    margin: 0;
}

.contents{
	padding-left:200px;
	padding-right:200px;
}

.container{
    width:100%;
    margin: 0 auto;
    padding: 20px 0 22px 0;

}

.nav{
    font-family: '³ª´®¶ó¿îµå½ºÄù¾î';
    font-weight:400;
    font-size: 13px;
    line-height:20px;

    position: relative;
    padding: 0 0 0px 200px;
    margin: 0;

    background-color: #ffffff;

    border-top: 1px solid #E6E6E6;
    border-bottom: 3px solid skyblue;
}

.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:focus, span{
    color: #000;
    text-decoration: none;
}

.nav > li{
    display: inline-block;
    text-align:center;
    margin-left: 4px;
    font-size: 20px;
}

.nav > li > a {
    padding:20px 18px;
    display: block;
}

.nav > li:hover > a{
    color: #000;
}

/* .column > ul > li:hover{
  background-color: #fff;
} */

.nav > li:hover{
    background-color: #E0ECF8;
}

.nav > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 53px;
    background-color: #E0ECF8;
    width: 200px;
    text-align: left;
    margin-top: 30px;
    padding: 0px;
    z-index: 99px;
}

.nav > li:hover > ul{
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.nav li > ul li{
    font-size: 15px;
    position: relative;
    display: block;
    padding: 15px 10px;
}

.nav > li > ul li:hover{
    background-color: #fff;
}

.nav ul li:hover > a{
    color: #000;
}

.nav > li > ul li ul li:hover{
    background-color :#fff;
}

.nav > li > ul li ul li ul {
	background-color: #fff;
}


.nav > li > .fulldrop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	list-style: none;
	top:60px;
	left: 150px;
	background-color: #fff;
  border: 1px solid gray;
	width: 1100px;
  height: 180px;
	min-height: 100px;
	text-align: left;
	margin-top:30px;
	padding: 0;
  padding-top: 20px;
	z-index: 99;
	overflow: hidden;
}


.nav > li:hover .fulldrop {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}

.nav ul li:hover:after {
	color: black;
}


.nav .column {
	width: 14.1%;
  height: 160px;
	float: left;
	color: black;
	margin: 0 20px 0 3%;
  border-right: 1px solid #E6E6E6;
  padding-right: 10px;

}

.nav .column:first-child{
  margin-left: 30px;
  padding-right: 40px;
}

.nav .column:last-child{
  border: 0px;
  margin-right: -40px;
}

.nav .column ul {
	padding: 0;
	margin: 0;
}

.nav .column ul li {
	padding: 0;
	list-style: none;
	font-size: 14px;
}

.nav .column h3 {
	font-size: 20px;
	padding: 14px 0;
	font-weight: 600;
	margin: 5px 0 5px 0;
}

.nav .column ul li a {
	display: block;
	padding: 0 0 15px 0;
}

.nav > li.dropdown > a:after {
	 content: " \f107";
	 font-family: FontAwesome;
	 color: #fff;
}

.nav ul li.dropdown:after {

  position: absolute;
  left: 170px;
  font-family: FontAwesome;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  margin-top: 2px;
}
