html {
  _overflow-y: scroll;
  _overflow-x: auto;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: '나눔스퀘어라운드';
}

body {
  padding: 0;
  margin: 0;
}

/* 개인정보수집이용 */
.agree ul{margin-top: 10px;}
.agree ul li {margin-bottom: 15px; list-style: none;}
.agree ul li:after {display: block; clear: both; content: "";}
.agree ul li input[type="checkbox"] {display: none;}
.agree ul li input[type="checkbox"] + label { width: 17px; height: 17px; background: #fa3062; cursor: pointer; border-radius: 3px; float: right;}
.agree ul li input[type="checkbox"]:checked + label {background-color: black;}
.agree ul li input[type="checkbox"] + label span {position: absolute; left:0px; display: block; }


#wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#container {
  width: 960px;
  position: relative;
  margin: 0 auto;
}

input {
  vertical-align: middle;
  font: 12px arial;
}

/* 테이블 */
table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 16px;
  left: 180px;

}
table, th, td{position: relative; border: none; font-family: '나눔스퀘어라운드'; padding: 8px 0; margin: 10px;}

th{
  background: #fff; color: #494949; font-size: 18px; width: 210px; letter-spacing: -2px; vertical-align: middle;
}

td{ height: 50px;}

table td label{
  font-size: 14px;
}


table td .tBox{
  border: 1px solid #c0c0c0; width: 297px; background: #fdfdfd; border-bottom: 1px solid #dbdee1; padding: 6px 8px 5px;
}

table td .tId {width: 150px;}
table td .tEmail{width: 150px;}

table td .tPhone {width: 80px;}

table td .tBirth{width: 160px;}

table td .sex{margin-right: 6px;}
table td #sex_female{margin-left: 30px;}

/* table td.tLine{padding: 15px 0;}
table td.tLine > div{border-top: 1px solid #dfe2e8;} */

table td .tAddr{width: 167px;}
table td #sample6_address, table td #sample6_detailAddress, table td #sample6_extraAddress{margin-top: 10px;}
table td #sample6_address{width: 250px;}
table td #sample6_extraAddress{width: 120px;}
table td #find_addr{width: 120px; height: 29px; background: #f2f2f2; border: 1px solid #a4a4a4; border-radius: 7px;}

table td p.compul {color: #ec0101; margin-top: 6px; font-size: 12px;}

table td .comName{width: 50px;}
table td #comName_check{width: 50px; height: 29px; background: #f2f2f2; border: 1px solid #a4a4a4; border-radius: 7px;}


.btnfield{
  margin-bottom: 40px;
  text-align: center;
}
.btnfield #btn_signup{
  width: 25%;
  height: 50px;
  background-color: #58ACFA;
  border-radius: 7px;
  color: white;
  font-family: '나눔스퀘어라운드';
  font-size: 20px;
  font-weight: 750;
  letter-spacing:3px;
  border: none;
}
form {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  margin: 10% auto;
  margin-top: 2%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.header {
  width: 100%;
  height: 10%;
}

hr:first-child {
  position: relative;
  top: 130px;
}

/* hr {
  position: relative;
  top: 130px;
} */

img {
  float: left;
  margin-top: -40px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 5%;
}

h1 {
  position: relative;
  top: 15px;
  font-size: 2.5em;
  font-weight: bold;
}

.signUpForm-header {
  text-align: center;
  margin: 6% 0 5% 0;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0 none;
  cursor: pointer;
  height: 20px;
}

#agree_form{
	border: 0px;
	padding: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}

#agree_form{
	border: 0px;
	padding: 1%;
	margin-bottom: 1%;
  margin-top: 1%;
}

#double_check{
  height: 29px;
  width: 80px;
  border-radius: 7px;
  background-color:  #f2f2f2;
  border: 1px solid #a4a4a4
}