.div_workmanage_emp_table, .div_workmanage_table{
	display: inline-block;
    position: relative;
    vertical-align: middle;
    
	
}

table.workmanage_emp_table, table.workmanage_table {
	border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
	}
	

table.workmanage_emp_table td   {
	width: 90px;
	height: 50px;
    padding: 15px 10px;
    font-weight: bold;
    font-size:13px;
	}
	
table.workmanage_emp_table   {
	margin-right: 100px;
	}
	
table.workmanage_table td{
	width: 90px;
	height: 30px;
    padding: 10px 10px;
    font-weight: bold;
    font-size:13px;
    
}

table.workmanage_emp_table th{
	font-size: 15px;
    
}
	
.div_workmanage_table{
	margin-right:400px;
}

.contents{
	text-align:center;
	width:100%;
	display: inline-block;
    position: relative;
}

 .searchbox{
	margin-right:1200px;
} 

.title{
	text-align: left;
	padding-top: 20px;
	margin-left: 20px;
}

.table_title{

	margin-right:550px;
	
}