

.jobcho1 {
	width: 30%;
}

.jobcho1, .jobcho2 {
	display: inline-block;
}

.jobcho2 {
	width: 60%;
	height: 350px;
	   overflow:overlay;
	margin:0 0 0 9%;
}


.footer-icon{
	font-size:30px;
	margin-right:10px;
	
}
    
.footer-logo{
	left:500px;
	width:80px;
}

footer.page-footer{
	background-color:#2e3949;
}


#plachoice{
	height:40px !important;
	width:200px;
	
}
.jobchoice {
	height:40px !important;
	width: 200px;
	display:inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;

	    vertical-align: middle;
	    overflow:overlay;
}

.placho{
	
	height:40px !important;
	width: 200px;
	display:inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 0 0 0 20px;
	    vertical-align: middle;
	    overflow:overlay;
}



.placho1,.placho2{

		display: inline-block;
}

.placho1{
	width: 30%;

 
	
}

.placho2{
	width: 60%;
		height: 420px;
 overflow:overlay !important;
  margin:10px 0 0 9%;
	
	
}
.placho3{
		width:100%;
	height:100px;
	border: 1px solid;
	   overflow:overlay;
}



.jobcho3{
	width:100%;
	height:100px;
	border: 1px solid;
	   overflow:overlay;
}


.jobcho-de,.jobcho-de2{
	cursor:pointer !important;
	margin: 0 0 0.5cm 0 !important;
	
}

.jobcho-de3{
	display:inline-block;
	margin: 0 0 0 10px;
		
}

.sejobre{
	display:inline-block;
	margin: 5px 0 0 3px;
	    vertical-align: middle;
}

.jobcho3-title{
	margin:20px 0 0 0;
}

.today1{
	margin: 0 0 0 20px;
	display:inline-block;
}

.workplace-info-title{
	display:inline-block;
	
}

.workcon-day, .workcon-day2{
	    display: inline-block;
}

.workcon-day2 select, .workcon-day select{
	margin: 0 0 0 20px !important;
	width:100px;
	
}

.adr-btn{
	width:120px !important;
	height:40px !important; 
	padding: 0 0 0 0 !important;
	margin: 0px 0 0 0 !important;
}

.map{
	margin: 0px 0 0 0;
}

.regaddjob{
	width:200px !important;
	height:50px !important;
	    margin: 0 0 0 38% !important;
}

.jobcho-line1,.placho-line1{
	display:inline-block;
	
	
}

.placho-line1{
	margin: 0 0 0 50px;
	
}

.footer-icon{
	margin-top:20px;
	color:white;
	font-size:30px;
	margin-right:10px;
	
}

.dataTables_filter{
	display:none;
	
}